body { width: 350px; overflow-x: hidden; }

.panel-list-item { height: auto; padding-top: 4px; padding-bottom: 3px; border: solid 1px #FFFFFF; border-left: none; border-right: none; }
.panel-list-item:hover { border-color: #CCCCCC; }
.error-message { color: #d92015; }
.error-source { font-weight: normal; }
